#{extends 'main.html' /} #{set title:'Search Results' /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="/tenants/tenant">Tenant</a> <a class="ui item" href="/contact">Contact</a>
	<a class="ui item" href="/tenants/logout">Logout</a>
</nav>

<section class="ui segment">
	<h4>Vacant residences</h4>
	<section class="ui segment">
		<table class="ui table segment">
			<thead>
				<tr>
					<th>Tenant</th>
					<th>Search: radius(m)</th>
					<th>centre(latitude)</th>
					<th>centre(longitude)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>${tenant.firstName} ${tenant.lastName}</td>
					<td>${circle.radius.format('#.0')}</td>
					<td>${circle.latcenter.format('#.00000')}</td>
					<td>${circle.lngcenter.format('#.00000')}</td>
				</tr>
			</tbody>
		</table>
		<table class="ui eight column celled table segment">
			<thead>
				<tr>
					<th>Eircode</th>
					<th>Date registered</th>
					<th>Rent(&euro;)</th>
					<th>Bedrooms</th>
					<th>Bathrooms</th>
					<th>Area (m<sup>2</sup>)
					</th>
			</thead>
			<tbody>
				<tr>#{list items:residences, as:'residence'}
				</tr>
				<td>${residence.eircode}</td>
				<td>${residence.dateResidence.format('dd MMMM yyyy', 'en')}</td>
				<td>${residence.rent.format('#')}</td>
				<td>${residence.numberBedrooms}</td>
				<td>${residence.numberBathrooms}</td>
				<td>${residence.area}</td> #{/list}
			</tbody>
		</table>
	</section>
</section>