#{extends 'main.html' /} #{set title:'Input Data' /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="/inputdata">Input Data</a> <a class="ui item"
		href="/landlords/landlord">Landlord</a> <a class="ui item"
		href="/contact">Contact</a> <a class="ui item"
		href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">
	<form class="ui form">
		<p>Please input residence data</p>
		<div class="ui two column grid">
			<div class="column">
				<!--   geoLocation  -->
				<div class="ui two column grid">
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Location</div>
								<input id="geolocation" value="53.347298,-6.268344"
									name="residence.geoLocation" type="text" readonly>
							</div>
						</div>
					</div>
					<!--   eircode  -->
					<div class="column">
						<div class="ui form segment">
							<!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
							<div class="ui fluid labeled input">
								<div class="ui label">Eircode</div>
								<input id="eircode" value="X92 Y433" name="residence.eircode"
									type="text" size=1em readonly>
							</div>
						</div>
					</div>
				</div>
				<!--   The monthly rent  -->
				<div class="ui two column grid">
					<div class="column">
						<div class="ui form segment">
							<!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
							<div class="ui fluid labeled input">
								<div class="ui label">Monthly rent (&euro;)</div>
								<input value="1500" name="residence.rent" type="text">
							</div>
						</div>
					</div>
					<!--   The number of bedrooms  -->
					<div class="column">
						<div class="ui form segment">
							<!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
							<div class="ui fluid labeled input">
								<div class="ui label">Number bedrooms:</div>
								<input value="3" name="residence.numberBedrooms" type="text"
									size=1em>
							</div>
						</div>
					</div>
				</div>
				<!--   The area of property in meters squared)  -->
				<div class="ui two column grid">
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Area (m. sq.)</div>
								<input value="150" name="residence.area" type="text">
							</div>
						</div>
					</div>
					<!--   The number of bathrooms  -->
					<div class="column">
						<div class="ui form segment">
							<div class="ui fluid labeled input">
								<div class="ui label">Number bathrooms:</div>
								<input value="2" name="residence.numberBathrooms" type="text"
									size=1em>
							</div>
						</div>
					</div>
				</div>
				<!--   The residence type  -->
				<div class="ui fluid form segment">
					<div class="ui selection dropdown">
						<input name="residence.residenceType" type="hidden">
						<div class="text">Residence type</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="flat">Apartment|Flat</div>
							<div class="item" data-value="studio">Studio</div>
							<div class="item" data-value="house">House</div>
						</div>
					</div>
				</div>
				<div class="ui fluid form segment">
					<div id="notification"></div>
				</div>
				<!--   Submit form button  -->
				<div class="form-actions">
					<div class="ui blue submit button">
						Submit Data <i class="add icon"></i>
					</div>
					<div class="ui error message"></div>
				</div>
			</div>
			<!-- close 1st column -->
			<!-- The map representing residence location -->
			<div class="column">
				<div class="ui raised fluid form segment">
					<div id="map-canvas" class="ui 4:3 embed">Map</div>
					<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDihea6U4gnxL7oAmAfwRW80Od14dnQs-g&callback=initMap"
						type="text/javascript"></script>
					<script src="@{'/public/javascripts/map.js'}"
						type="text/javascript" charset="utf-8"></script>
				</div>
				<div class="ui raised fluid form segment">
					<div>
						<!-- eircode iframe -->
						<iframe src="https://finder.eircode.ie/#/map" width="100%"
							height="300px"></iframe>
					</div>
				</div>
			</div>
			<!-- close 2nd column -->
		</div>
		<!-- class ui two column grid -->
	</form>
</section>
<script src="/public/javascripts/inputdata.js"></script>