#{extends 'main.html' /} #{set title:'Contact' /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Welcome</a>
</nav>

<section class="ui segment">
	<h2 class="title">MyRent</h2>
	<h3>Acknowledgement</h3>
	<div class="ui grid">
		<div class="ten wide column">
			<div class="ui raised segment">
				<p>Thank you for your message.</p>
				<p>We very much appreciate your having taken the time out of
					your very busy schedule to contact us.</p>
				<p>We will deal with the issues you have raised and advise you
					of the outcome as soon as possible.</p>
				<p>With best wishes,</p>
				<p>From the MyRent team</p>
			</div>
		</div>
	</div>
</section>