#{extends 'main.html' /} #{set title:'Landlord' /}

<nav class="ui inverted menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="/landlords/landlord">Landlord</a> <a class="ui item"
		href="/contact">Contact</a> <a class="ui item"
		href="/landlords/logout">Log Out</a>
</nav>

<section class="ui segment">
	<h4>Landlord configuration page</h4>
	<div class="ui three column grid">
		<div class="column">
			<form action="/inputdata" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid   blue submit button">Add
						Residence</button>
				</div>
			</form>
			<!-- Delete Residence -->
			<form class="ui form segment" action="/landlords/deleteresidence"
				method="POST">
				<div class="ui fluid form segment">
					<div class="ui fluid selection dropdown" id="deleteresidence">
						<input name="eircode" type="hidden">
						<div class="default text">Select residence to delete</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							#{list items:residences, as:'residence'}
							<div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
							#{/list}
						</div>
					</div>
					<div class="ui fluid form segment">
						<button type="submit" class="ui fluid blue submit button">Delete
							residence</button>
					</div>
					<div class="ui error message"></div>
				</div>
			</form>
		</div>
		<!-- Edit Profile -->
		<div class="column">
			<form action="/landlords/editprofile" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid  blue submit button">Edit
						Landlord Profile</button>
				</div>
			</form>
			<!-- Edit Residence -->
			<form class="ui form segment" action="/landlords/editresidence"
				method="POST">
				<div class="ui fluid form segment">
					<div class="ui fluid selection dropdown" id="editresidence">
						<input name="eircode" type="hidden">
						<div class="default text">Select residence to edit</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							#{list items:residences, as:'residence'}
							<div class="item" data-value="${residence.eircode}">${residence.eircode}</div>
							#{/list}
						</div>
					</div>
					<div class="ui fluid form segment">
						<button type="submit" class="ui fluid blue submit button">Edit
							residence</button>
					</div>
					<div class="ui error message"></div>
				</div>
			</form>
		</div>
	</div>
</section>
<script src="/public/javascripts/landlord.js"></script>